<p id="notice"><%= notice %></p>

<p>
  <b> rating:</b>
  <%= @comment. rating %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Book:</b>
  <%= @comment.book_id %>
</p>

<p>
  <b>Comment date:</b>
  <%= @comment.comment_date %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
