%h1 Change Password
= form_for :update_password_info, :url => { :controller => 'users', :action => 'update_password' } do |f|
  .field
    = f.label "Old Password"
    %br/
    = f.password_field :old
  .field
    = f.label "New Password"
    %br/
    = f.password_field :new
  .field
    = f.label "Confirm New Password"
    %br/
    = f.password_field :confirm_new
  .actions
    = f.submit :Change
= link_to 'Back', my_profile_path
= link_to 'Back to Store', store_path