<%= form_for :user, :url => {:controller => 'users', :action => 'create'}  do |f| %>
    <h1> Signup Form </h1>
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <!-- Username -->
        <span class="input-group-addon">Username</span>
        <%= f.text_field :username, :placeholder => "Username", :class => "form-control" %> 
      </div>
      <br/>
 	</div>

 	<div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <!-- Email -->
        <span class="input-group-addon">Email</span>
        <%= f.text_field :email, :placeholder => "Email", :class => "form-control" %> 
      </div>
      <br/>
 	</div>


 	<div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <!-- Password-->
        <span class="input-group-addon">Password</span>      
        <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>       
      </div>
      <br/>
	</div>

	<div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <!-- Password confirmation-->
        <span class="input-group-addon">Password Confirm</span>      
        <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :class => "form-control" %>       
      </div>
      <br/>
	</div>

	<div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <!-- Full Name-->
        <span class="input-group-addon">Full Name</span>      
        <%= f.text_field :full_name, :placeholder => "Full Name", :class => "form-control" %>       
      </div>
      <br/>
	</div>

	<div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <!-- Birthday -->
        <span class="input-group-addon">Birthday</span>      
        <%= f.date_select :birthday, :start_year => 1970, :end_year => 2013, :class => "form-controls" %>       
      </div>
      <br/>
	</div>

    <!-- Button -->
    <div class="col-md-7 col-md-offset-5">
      <%= f.submit :Signup, :class => "btn btn-success" %>
    </div>
    <% if @user.errors.any? %>
      <ul class="Signup_Errors">
        <% for message_error in @user.errors.full_messages %>
          <li>* <%= message_error %></li>
        <% end %>
      </ul>
    <% end %>
<% end %>