<p id="notice"><%= notice %></p>

<p>
  <b> date:</b>
  <%= @order. date %>
</p>

<p>
  <b>Total amount:</b>
  <%= @order.total_amount %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Shipping address:</b>
  <%= @order.shipping_address %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
