%h1 Listing books
= will_paginate @books
%table.table.table-striped.table-condensed
  %tr
    %th Image
    %th title
    %th Description
    %th Author
    %th Price
    
    %th Rating
    %th
    %th
    %th
  - @books.each do |book|
    %tr
      %td= image_tag(book.img_url)
      %td= truncate(book.title)
      %td= sanitize(truncate(book.description, :length => 50))
      %td= book.author
      %td= book.price
      %td 
        - 5.times do |i|
          - unless i == book.average_rating - 1
            %input{ :name => "star#{book.id}", :type => "radio", :class => "star", :disabled => "disabled" }
          - else
            %input{ :name => "star#{book.id}", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked" }
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Book', new_book_path
