<p id="notice"><%= notice %></p>
<%= image_tag(@book.img_url) %>
<p>
  <b> title:</b>
  <%= @book. title %>
</p>

<p>
  <b>Description:</b>
  <%= sanitize(@book.description) %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Published date:</b>
  <%= @book.published_date %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Total rating value:</b>
  <%= @book.total_rating_value %>
</p>

<p>
  <b>Rating count:</b>
  <%= @book.rating_count %>
</p>

<p>
  <b>Average Rating:</b>
  <%= @book.average_rating %>
</p>

<div class="well">
  <div class="row">
    <form accept-charset="UTF-8" action="" method="POST">
        <div class="col-md-8">
          <textarea class="col-md-11" id="new_message" name="new_message" placeholder="Type in your message" rows="5"> </textarea>
        </div>
        <div class="col-md-4">
          <button class="btn btn-info" type="submit">Post New Message</button>
        </div>
    </form>
  </div>
</div>
<!-- Display comments -->
<%= render(@book.comments) %>

<%= link_to 'Back', store_path %>
