<p id="notice"><%= notice %></p>
<%= image_tag(@book.img_url) %>
<p>
  <b> title:</b>
  <%= @book. title %>
</p>

<p>
  <b>Description:</b>
  <%= sanitize(@book.description) %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Published date:</b>
  <%= @book.published_date %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Total rating value:</b>
  <%= @book.total_rating_value %>
</p>

<p>
  <b>Rating count:</b>
  <%= @book.rating_count %>
</p>

<p>
  <b>Average Rating:</b>
  <%= @book.average_rating %>
</p>


<div class="well">
  <div class="row">
    <%= form_for :comment, :url => {:controller => 'comments', :action => 'create'} do |f| %>
      <div class="col-md-5">
        <%= f.text_area :content, :class => "col-md-11", :placeholder => "Enter your comment", :rows => 5 %>
      </div>
      <div class="col-md-3">
        <%= f.select :rating, (1..5) %>
      </div>
      <div class="col-md-4">
        <%= f.submit :Post, :class => "btn btn-info" %>
      </div>

      <%= f.hidden_field :user_id, :value => session[:user_id] %>
      <%= f.hidden_field :book_id, :value => @book.id %>
      <%= f.hidden_field :comment_date, :value => Time.current.to_date %>
    <% end %>  
  </div>
</div>

<ul class="thumbnails">
<!-- Display comments -->
<%= render(@book.comments) %>
</ul>
<%= link_to 'Back', store_path %>
