<%= form_for(@book_category) do |f| %>
  <% if @book_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_category.errors.count, "error") %> prohibited this book_category from being saved:</h2>

      <ul>
      <% @book_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
