<h1>Listing book_categories</h1>

<table>
  <tr>
    <th>Book</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_categories.each do |book_category| %>
  <tr>
    <td><%= book_category.book_id %></td>
    <td><%= book_category.category_id %></td>
    <td><%= link_to 'Show', book_category %></td>
    <td><%= link_to 'Edit', edit_book_category_path(book_category) %></td>
    <td><%= link_to 'Destroy', book_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book category', new_book_category_path %>
