%h2 Change your password
= form_for :update_password_info, :url => {:controller => "my_devise/my_passwords", :action => "update_password"} do |f|
  = f.hidden_field :reset_password_token, :value => @reset_token
  %div
    = f.label :password, "New password"
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation, "Confirm new password"
    %br/
    = f.password_field :password_confirmation
  %div= f.submit "Change my password"
