 <tr>
 	<td><%= order_line.quantity %> x </td>
 	<td><%= order_line.book.title %></td>
 	<td><%= number_to_currency(order_line.total_price) %></td>
 	<td><%= button_to "+", order_lines_path(book_id: order_line.book), method: :post %></td>
 	<td><%= button_to "-", order_line_path(order_line.id), method: :delete %></td>
 </tr>