%h1 Listing categories
%table.table.table-striped.table-condensed
  %tr
    %th name
    %th Sort order
    %th
    %th
    %th
  - @categories.each do |category|
    %tr
      %td= category. name
      %td= category.sort_order
      %td= link_to 'Show', category
      %td= link_to 'Edit', edit_category_path(category)
      %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Category', new_category_path
