<p id="notice"><%= notice %></p>

<p>
  <b> name:</b>
  <%= @category. name %>
</p>

<p>
  <b>Sort order:</b>
  <%= @category.sort_order %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
