<div class="well">
<ul class="nav nav-pills">
  <% @categories.each do |category| %>
    
    <li><%= link_to store_path(:category => category.id) do %>
          <%= category.name %>
          <span class="badge"><%= category.book_categories.count %></span>
        <% end %>
    </li> 
  <% end %>
  <li>
    <div class="input-group">
      <%= form_tag store_path, :method => 'get', :id => "books_search" do %>
        <%= text_field_tag :search, params[:search] , :class => 'form-control', :placeholder => "Enter Search Keywords" %>
      <% end %>
    </div>
  </li>
</ul>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <%= will_paginate @books %>
  </div>
</div>
<%= render @books %>



