<div class="well">
<ul class="nav nav-pills">
  <% @categories.each do |category| %>
    <li><a href="#"><%= category.name %><span class="badge">12</span></a></li>
  <% end %>
  <li>
    <div class="input-group">
      <%= form_tag store_path, :method => 'get', :id => "books_search" do %>
        <%= text_field_tag :search, params[:search] , :class => 'form-control', :placeholder => "Enter Search Keywords" %>
      <% end %>
    </div>
  </li>
</ul>
</div>

<p>Book ID and title:</p>
<% @books.each do |book| %>
  <p><%= book.id %>:<%= book.title %></p>
<% end %>
<p>Category ID and name: </p>
<% @categories.each do |category| %>
<p><%= category.id %>:<%= category.name %></p>
<% end %>


<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <%= will_paginate @books %>
  </div>
</div>
<%= render @books %>



