!!!
%html
  %head
    %title MyAssignment
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:id => controller.controller_name}
    .row
      .col-md-3
        .sidebar-nav{:style => "position: fixed"}
          .well{:style => "width:300px; padding: 8px 0;"}
            %ul.nav.nav-list
              - if current_user
                / Logged in user
                %li.nav-header
                  %strong
                    Welcome, #{current_user.username}
                %li= link_to "My Profile", edit_user_path(current_user.id)
                %li= link_to "Logout", logout_path, :method => "post"
              - else
                / Anonymous user
                %li.nav-header
                  %strong Welcome
                %li= link_to "Login", login_path
              %li= link_to "Home", store_path
              %li= link_to "Register", new_user_path
            #cart
              - if @cart.order_lines.count > 0
                = render 'carts/cart', :object => @cart
          - if notice
            .alert.alert-success= notice
          - if alert
            .alert.alert-danger= alert
      #main-content.col-md-9
        = yield
